$mainBackground:#32527b;
$accent:#4269E2;

$primary: #2B74B1;
$halfPrimary: #7994E7;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredoka:wght@300;400;500;600;700&display=swap');

@import 'home';
@import 'btns';
@import 'forms';
@import 'card';
@import 'topNav';
@import 'cnsl';
@import 'pendingCard';

html{
    font-size: 18px;
    width: 100vw;
    height: 100vh;
}

*{
    box-sizing:border-box;
}


body{
    font-family: 'Fredoka', sans-serif;
    direction: rtl;
}
.page{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.wrapper{
    margin: auto;
    max-width: 75ch;
    padding-bottom: 100px;

    @media only screen and (max-width: 600px) {
        padding: 20px 20px 100px 20px;
    }
}
main{
    background: rgb(207,205,255);
    background: linear-gradient(90deg, rgba(207,205,255,1) 0%, rgba(195,195,255,1) 14%, rgba(208,247,255,1) 100%);
}

h1, h2{
    text-align: center;
}
h1{
    color: rgba(0, 0, 0, 0.752);
    font-weight: 500;
}
h2{
    color: rgba(0, 0, 0, 0.68);
    font-weight: 500;
}

div, p{
    font-size: 1rem;
    color: #3a3a3a;

}

.clr{
    &--waiting{
        color: orange !important;
    }
}


