.ask{
    position: relative;
    top:50vh;
    left: 50vw;
    transform: translate(-100%,-50%);
    h1{
        font-size: 2rem;
    }
    p{
        text-align: center;
        font-size: 1.3rem;
        color: blueviolet;
    }
}