.ask{
    position: relative;
    top:50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    h1{
        font-size: 2rem;
    }
    p{
        text-align: center;
        font-size: 1.3rem;
        color: blueviolet;
    }
}